In [1]:
import pandas as pd

In [6]:
players = pd.read_csv('data/players_22.csv')
players.shape

/var/folders/dr/5t6cn8v902z3qf17nwghn0r00000gn/T/ipykernel_2286/187800224.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv('data/players_22.csv')

(19239, 110)

In [8]:
transfers_premierLeague = pd.read_csv('data/transfers/premier-league.csv')
transfers_premierLeague.shape

(23498, 12)

In [10]:
transfers_serieA = pd.read_csv('data/transfers/serie-a.csv')
transfers_serieA.shape

(28211, 12)

In [11]:
transfers_bundesliga = pd.read_csv('data/transfers/1-bundesliga.csv')
transfers_bundesliga.shape

(14032, 12)

In [9]:
transfers_premierLeague.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,Middlesbrough FC,Tommy Wright,26.0,Left Winger,Leicester,€910Th.,in,Summer,0.91,Premier League,1992,1992/1993
1,Middlesbrough FC,Jonathan Gittens,28.0,defence,Southampton,€250Th.,in,Summer,0.25,Premier League,1992,1992/1993
2,Middlesbrough FC,Chris Morris,28.0,Right-Back,Celtic,?,in,Summer,NaN,Premier League,1992,1992/1993
3,Middlesbrough FC,Ben Roberts,17.0,Goalkeeper,Boro U18,-,in,Summer,NaN,Premier League,1992,1992/1993
4,Middlesbrough FC,Andy Todd,17.0,Centre-Back,Boro U18,-,in,Summer,NaN,Premier League,1992,1992/1993